$color-primary: steelblue;
$color-link: maroon;
$spacer: 2rem;

h1,
h2,
h3,
h4,
h5,
h6,
p {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-primary;
}

a {
	color: $color-link;
	&:hover,
	&:focus {
		color: $color-primary;
	}
}
